{% extends 'admin/_template.html.twig' %}

{% block title %}Admin{% endblock %}
{% block js %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
{% endblock %}


{% block content %}
    <div class="section">
        <h1>KRITIK - Accueil BACK-OFFICE</h1>
    </div>
{% endblock %}